body{
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

h1{
  font-weight: normal;
  font-size: 50px;
  color: White;
}

h2{
  font-weight: 300;
  font-size: 42px;
  color: White;
}

.link{
  color: Aquamarine;
  font-size: 16px;
}

p{
  font-size: 21px;
  color: Gray;
}

.copyright{
  text-align: right;
  color: Gray;
}
